.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Tv {
    width: 132vh;
    height: 99vh;
    position: relative;
}

.Tv-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.Channel-button {
    position: absolute;
    width: 9.6%;
    height: 12.6%;
    top: 43.8%;
    left: 67%;
    border-radius: 50%;
    z-index: 20;
}

.Screen {
    position: absolute;
    width: 43%;
    height: 45%;
    top: 41%;
    left: 21%;
    background-color: gray;
}